body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

main.main {
  padding-top: adaptive-value(114, 125);
}

code {
  background-color: var(--code-color);
  padding: 0.2rem;
  border-radius: 4px;
}

.link {
  color: var(--main-color);
  display: inline-block;

  &.link-animation::before {
    background-color: var(--main-color);
  }
}
