.icon {
  fill: transparent;
  stroke: transparent;
  width: 100%;
  height: 100%;

  &_gulp {
    fill: var(--main-color);
  }

  &_header {
    fill: var(--light-color);
  }

  &_moon {
    fill: var(--light-color);
    width: 25px;
  }

  &_sun {
    fill: var(--light-color);
    width: 25px;
  }

  &_github {
    fill: var(--light-color);
    width: 25px;
  }

  &_issues {
    fill: var(--light-color);
    width: 25px;
  }
}
