.html-symbol {
  color: var(--html-symbol);
}

.html-element {
  color: var(--html-element);
}

.html-class {
  color: var(--html-class);
}

.html-classname {
  color: var(--html-classname);
}

.css-selector {
  color: var(--css-selector);
}

.css-props {
  color: var(--css-props);
}

.css-units {
  color: var(--html-symbol);
}

.css-brackets {
  color: var(--css-brackets);
}

.css-path {
  color: var(--css-path);
}

.css-comment {
  color: var(--css-comment);
}
