.html-symbol {
  color: #cf212e;
}

.html-element {
  color: #136329;
}

.html-class {
  color: #0350ae;
}

.html-classname {
  color: #093069;
}

.css-selector {
  color: #6f42c1;
}

.css-props {
  color: #0350ae;
}

.css-units {
  color: #cf212e;
}

.css-brackets {
  color: #e36208;
}

.css-path {
  color: #022f62;
}

.css-comment {
  color: #6a737d;
}
